.product-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
p {
  font-size: 2vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 60px;
}
.category{
  width: 20%;
}
.category .select-btn {
  display: flex;
  height: 35px;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 450;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;

}
.select-btn i{
  margin-left: 20px;
  transition: 0.2s;
}
.category.active .select-btn i{
  transform: rotate(-180deg);
}
.category .genders{
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  display: none;
}
.genders .gender {
  cursor: pointer;
  padding: 0 14px;
  align-items: center;
  
}
.gender {
  font-size: 1.5rem;

}
.genders .gender:hover{
  color: rgb(117, 114, 114);
}
.sale {
  color: rgb(222, 64, 64);
  
}
.category.active .genders{
  display: block;
}
