.product-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
p {
  font-size: 2vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 60px;
}

.category .select-btn {
  display: flex;
  height: 35px;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.4vw;
  font-weight: 450;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 60px;

}
.select-btn i{
  margin-left: 20px;
}
.category .genders{
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.genders .gender {
  cursor: pointer;
  padding: 0 14px;
  align-items: center;
  
}
.gender {
  font-size: 1.5rem;

}
.genders .gender:hover{
  color: rgb(117, 114, 114);
}
.sale {
  color: rgb(222, 64, 64);
  
}
.category.active .genders{
  display: none;
}
/* .gender i {
  margin-left: 15px;
  color: rgb(93, 91, 91);
}
.gender {
  display: flex;
  flex-direction: column;
}
.gender span {
  padding-bottom: 40px;
}
.gender-text {
  padding: 20px;
  /* background-color: rgb(237, 239, 241); 
  width: 40%;
  display: none;
}
.gender-text:hover {
  color: rgb(117, 114, 114);
}
.category {
  display: flex;
}
.category ul li {
  margin: 0 20px;
  cursor: pointer;
}

.show-dropdown-li {
  display: block !important;
} 
