body {
  margin: 0;
  padding: 0 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  overflow-x: hidden;
  width: 100vw;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  width: 10vw;
  height: 2vh;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: none;
  border-radius: 5px;
  margin: 0px 30px;

  background: rgb(48, 47, 47);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
}
